polyline,
g,
svg > line,
circle {
    transform: scale(1, -1) translate(0, -100%);
}

polyline,
circle {
    animation-iteration-count: 1;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

g {
    fill: #96a2aa;
}

.x-axes {
    transform: scale(1, 1) translate(0, 100%);
}

.x-axes > text {
    transition: transform .25s, opacity .25s;
    text-anchor: middle;
}

.x-axes.pending > text:nth-child(odd) {
    transition: 0s;
}

.x-axes.hidden.pending {
    display: none;
}

.x-axes.hidden > text {
    opacity: 0;
    transform: translateX(2%);
}

.x-axes.hidden.right > text {
    transform: translateX(-2%);
}

.x-axes.hidden:not(.even) > text:nth-child(odd) {
    display: none;
}

.x-axes.hidden.even > text:nth-child(even) {
    display: none;
}

.y-axes {
    transition: transform .25s, opacity .125s;
    transform: scale(1, 1) translateY(-20%);
}

.y-axes.hidden {
    opacity: 0;
}

.y-axes.pending {
    transition: 0s;
}

.y-axes.hidden.m-up {
    transform: scale(1, 0.5) translate(0, -100%);
}

.y-axes.hidden.m-down {
    transform: scale(1, 0.7) translate(0, 50%);
}

@keyframes enter {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes exit {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}
