.buttons,
.buttons > button {
    display: flex;
    flex-wrap: wrap;
}

.buttons > button {
    overflow: hidden;
    padding: 2px 6px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: solid 2px;
    border-radius: 25px;
    position: relative;
    animation-duration: .8s;
}

.buttons > button::-moz-focus-inner {
    border: 0;
}

.buttons > button > div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 25px;
    transition: opacity 250ms;
    pointer-events: none;
    z-index: 1;
}

.buttons > button > svg {
    border-radius: 100%;
    pointer-events: none;
    padding: 6px 0;
    position: relative;
    vertical-align: middle;
    z-index: 10;
}

.buttons > button > span {
    font-size: 14px;
    margin: 0 5px;
    min-height: 30px;
    line-height: 30px;
    pointer-events: none;
    position: relative;
    z-index: 10;
}

.buttons > button path {
    fill: white;
}

.buttons > button:not(.m-hidden) span {
    color: white !important;
}

.buttons > button.m-hidden {
    padding: 2px 15px;
}

.buttons > button.m-hidden div {
    opacity: 0;
}

.buttons > button.m-hidden svg {
    display: none;
}
