.charts {
    position: relative;
    overflow: hidden;
}

.charts > svg {
    position: absolute;
    left: 0;
    top: 0;
}

.charts > canvas {
    margin-bottom: 20px;
}

circle {
    transform: scale(1, -1) translate(0, -100%);
    animation-iteration-count: 1;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

line {
    fill: #182D3B;
    stroke-opacity: .2;
}

.x-axes,
.y-axes {
    fill: #8E8E93;
}

.x-axes > text {
    transition: transform 125ms, opacity 125ms;
    text-anchor: middle;
}

.x-axes.pending > text:nth-child(odd) {
    transition: 0s;
}

.x-axes.hidden.pending {
    display: none;
}

.x-axes.hidden > text {
    opacity: 0;
    transform: translateX(2%);
}

.x-axes.hidden.right > text {
    transform: translateX(-2%);
}

.x-axes.hidden:not(.even) > text:nth-child(odd) {
    display: none;
}

.x-axes.hidden.even > text:nth-child(even) {
    display: none;
}

.y-axes {
    transition: transform .25s, opacity .25s;
}

.y-axes.hidden {
    opacity: 0 !important;
}

.y-axes.pending {
    transition: 0s;
}

.y-axes.hidden.m-up {
    transform: scale(1, 0.5) translate(0, -50%);
}

.y-axes.hidden.m-down {
    transform: scale(1, 0.5) translate(0, 100%);
}

@keyframes enter {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes exit {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}
