svg {
    will-change: contents;
    transform: translateZ(0);
}

svg > polyline,
svg > g,
svg > line,
svg > circle {
    transform: scale(1, -1) translate(0, -100%) translateZ(0);
    animation-iteration-count: 1;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
    will-change: contents;
}

svg > g {
    opacity: 0.5;
    transition: 250ms;
}

g.hidden {
    opacity: 0;
}

g.pending {
    transition: 0s;
}

.x-axes {
    transform: scale(1, 1) translate(0, 100%);
}

.x-axes > text {
    transition: .5s;
    text-anchor: middle;
}

.x-axes.hidden > text {
    transform: translateX(2%);
}

.x-axes.hidden.right > text {
    transform: translateX(-2%);
}

.x-axes.hidden > text:nth-child(odd) {
    display: none;
}

.y-axes {
    transform: scale(1, 1) translateY(-20%);
}

.y-axes.hidden.m-up {
    transform: scale(1, 0.5) translate(0, -100%);
}

.y-axes.hidden.m-down {
    transform: scale(1, 0.5) translate(0, 100%);
}

/** zero axes */
svg > g:first-of-type > text {
    transform: scale(1, -1) translate(0, -1%);
}

@keyframes enter {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes exit {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}
