.point-info {
    position: absolute;
    top: 30px;
    background: white;
    border: solid 1px #e3e3e3;
    transition: left 250ms, right 250ms;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.point-info > div:first-child {
    margin-bottom: 10px;
    font-weight: 400;
    text-align: center;
}

.charts-info {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 150px;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    padding: 0 5px;
}

.info > span {
    font-weight: bold;
}