.charts {
    position: relative;
    overflow: hidden;
}

.charts > svg {
    position: absolute;
    left: 0;
    top: 0;
}

.charts > canvas {
    margin-bottom: 20px;
}

circle {
    transform: scale(1, -1) translate(0, -100%);
    animation-iteration-count: 1;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

.x-axes {
    fill: #8E8E93;
}

.bar-chart .x-axes {
    fill: #252529;
    opacity: .5;
}

.dark .x-axes {
    fill: #A3B1C2;
    opacity: .6;
}

.x-axes > text {
    font-size: 12px;
    transition: transform 125ms, opacity 125ms;
    text-anchor: middle;
}

.x-axes.pending > text:nth-child(odd) {
    transition: 0s;
}

.x-axes.hidden.pending {
    display: none;
}

.x-axes.hidden > text {
    opacity: 0;
    transform: translateX(2%);
}

.x-axes.hidden.right > text {
    transform: translateX(-2%);
}

.x-axes.hidden:not(.even) > text:nth-child(odd) {
    display: none;
}

.x-axes.hidden.even > text:nth-child(even) {
    display: none;
}

.y-axes {
    font-size: 12px;
    transition: transform .25s, opacity .25s;
}

.y-axes.lines {
    fill: #182D3B;
    stroke: #182D3B;
    opacity: .1;
}

.dark .y-axes.lines {
    fill: #FFFFFF;
    stroke: #FFFFFF;
    opacity: .1;
}

.y-axes.text {
    fill: #8E8E93;
}

.bar-chart .y-axes.text {
    fill: #252529;
    opacity: .5;
}

.y-axes text {
    font-size: 12px;
}

.dark .y-axes.text {
    fill: #A3B1C2;
    opacity: .6;
}

.dark .bar-chart .y-axes.text {
    fill: #ECF2F8;
    opacity: .5;
}

.y-axes.hidden {
    opacity: 0 !important;
}

.y-axes.pending {
    transition: 0s;
}

.y-axes.hidden.m-up {
    transform: scale(1, 0.5) translate(0, -50%);
}

.y-axes.hidden.m-down {
    transform: scale(1, 0.5) translate(0, 100%);
}
