.chart-info {
    padding: 0 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.chart-info > h1 {
    margin: 0;
    font-size: 16px;
    white-space: nowrap;
}

.chart-info > .selected-range {
    font-size: 14px;
    text-align: right;
}

.selected-range > .range-from,
.selected-range > .range-to {
    transform: translateZ(0);
    display: inline-block;
    animation-duration: .25s;
}

.dark .chart-info > h1,
.dark .chart-info > .selected-range {
    color: white;
}
