.buttons,
.buttons > button {
    display: flex;
    flex-wrap: wrap;
}

.buttons > button {
    padding: 0 6px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: solid 2px;
    border-radius: 25px;
    position: relative;
    animation-duration: .8s;
}

.buttons > button::-moz-focus-inner {
    border: 0;
}

.buttons > button > div {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    transform: translateZ(0);
    transition: opacity 250ms;
    pointer-events: none;
    z-index: 1;
}

.buttons > button > svg {
    border-radius: 100%;
    pointer-events: none;
    padding: 5px 0;
    position: relative;
    z-index: 10;
}

.buttons > button > span {
    margin: 0 5px;
    line-height: 28px;
    pointer-events: none;
    position: relative;
    z-index: 10;
}

.buttons > button path {
    fill: white;
}

.buttons > button:not(.m-hidden) span {
    color: white !important;
}

.buttons > button.m-hidden {
    padding: 0 15px;
}

.buttons > button.m-hidden div {
    opacity: 0;
}

.buttons > button.m-hidden svg {
    display: none;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(1px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-3px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(3px, 0, 0);
    }
}
