.point-info {
    position: absolute;
    transform: translateZ(0);
    will-change: tranform;
    top: 30px;
    background: white;
    transition: transform 125ms;
    padding: 7px 10px;
    border-radius: 10px;
    width: 160px;
    display: none;
    font-size: 14px;
     -webkit-box-shadow: 0px 0px 4px 1px #D2D5D7;
    -moz-box-shadow: 0px 0px 4px 1px #D2D5D7;
    box-shadow: 0px 0px 4px 1px #D2D5D7;
}

.point-info > div:first-child {
    font-weight: bold;
    display: flex;
}

.point-info > div:first-child > div {
    margin-left: 4px;
    transform: translateZ(0);
    animation-duration: .25s;
}

.point-info > div:first-child > div:first-child {
    margin-left: 0px;
}

.charts-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.info > .name {
    flex-grow: 1;
    text-align: start;
    font-weight: normal;
}

.info > span:first-child {min-width: 30px;text-align: right;padding-right: 5px;}

.info > span:first-child:empty {
    display: none;
}

.info > span {
    font-weight: bold;
    transform: translateZ(0);
    animation-duration: .25s;
}
