body {
    margin: 0;
    font-family: "Helvetica Neue", sans-serif;
}

h1 {
    font-size: 18px;
    margin: 0 10px 10px;
}

button {
    background: #0000;
    border: none;
    outline: none;
}

.dark {
    background: #242f3f;
}

.dark h1 {
    color: white;
}

.dark text,
.dark line {
    fill: #546778;
}

.dark circle {
    fill: #242f3f;
}

.dark .shadow {
    background: #304259;
    opacity: 0.6;
}

.dark .slider {
    border-color: #56626D;
}

.dark .slider__bar {
    background: #56626D;
}

.dark .point-info {
    background: #253242;
    border-color: #202b39;
}

.dark .point-info {
    color: white;
    -webkit-box-shadow: 0px 0px 4px 2px #202b39;
    -moz-box-shadow: 0px 0px 4px 2px #202b39;
    box-shadow: 0px 0px 4px 2px #202b39;
}

.layout-container {
    max-width: 400px;
    display: block;
    margin: 0 auto;
    padding: 30px 0;
}

.charts-container > .chart-wrapper {
    margin-bottom: 30px;
}

.buttons {
    margin-top: 10px;
}

.mode-switcher > button {
    display: block;
    color: #2da7f4;
    margin: 0 auto;
    font-size: 24px;
}
