body {
    margin: 0;
    font-family: "Helvetica Neue", sans-serif;
}

h1 {
    font-size: 24px;
    margin: 0 10px 30px;
}

button {
    background: #0000;
    border: none;
    outline: none;
}

.dark {
    background: #242f3f;
}

.dark h1 {
    color: white;
}

.dark text,
.dark line {
    fill: #546778;
}

.dark circle {
    fill: #242f3f;
}

.dark .shadow {
    background: #1f2a38;
    opacity: 0.7;
}

.dark .slider {
    border-color: #40566b;
}

.dark .slider__bar {
    background: #384e63;
}

.dark .buttons > button > span {
    color: #e2e6e8;
}

.dark .buttons > button {
    border-color: #334659;
}

.dark .point-info {
    background: #253242;
    border-color: #202b39;
}

.dark .point-info > div:first-child {
    color: white;
}

.layout-container {
    max-width: 500px;
    display: block;
    margin: 0 auto;
    padding: 30px 0;
}

.charts-container > .chart-wrapper {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.buttons {
    margin-top: 10px;
}

.mode-switcher > button {
    display: block;
    color: #2da7f4;
    margin: 0 auto;
    font-size: 24px;
}