body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
}

button {
    background: transparent;
    border: none;
    outline: none;
}

.dark {
    background: #242F3E;
}

.dark circle {
    fill: #242f3f;
}

.dark .shadow {
    background: #304259;
    opacity: 0.6;
}

.dark .slider {
    border-color: #56626D;
}

.dark .slider__bar {
    background: #56626D;
}

.dark .point-info {
    background: rgb(29, 37, 50);
    border-color: #202b39;
}

.dark .point-info {
    color: white;
    -webkit-box-shadow: 0 0 4px 1px #202b39;
    -moz-box-shadow: 0 0 4px 1px #202b39;
    box-shadow: 0 0 4px 1px #202b39;
}

.layout-container {
    display: block;
    margin: 0 auto;
    padding: 30px 0;
}

.charts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.charts-container > .chart-wrapper {
    max-width: 450px;
    margin: 0 0 30px;
}

@media screen and (min-width: 640px) {
    .charts-container > .chart-wrapper {
        margin: 0 20px 30px;
    }
}

.mode-switcher > button {
    display: block;
    color: #2da7f4;
    margin: 0 auto;
    font-size: 24px;
}
