.preview-container {
    position: relative;
    margin: 0 10px;
}

.slider-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}

.shadow {
    position: relative;
    background: #d3d3d3;
    opacity: 0.3;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.slider {
    position: relative;
    flex-grow: 1;
    border-top: 1px solid #e0eaf0;
    border-bottom: 1px solid #e0eaf0;
}

.slider__bar {
    position: absolute;
    width: 8px;
    height: 100%;
    background: #aeb7bd;
    opacity: 0.5;
}
