.preview-container {
    position: relative;
    margin: 0 15px;
    border-radius: 5px;
    overflow: hidden;
    height: 50px;
    will-change: auto;
    transform: translateZ(0);
}

.slider-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}

.shadow {
    position: relative;
    background: #E2EEF9;
    opacity: 0.6;
    width: 1px;
    transform-origin: left center;
}

.shadow.left {
    left: 0;
    margin-right: -5px;
    padding-right: 5px;
}

.shadow.right {
    right: 0;
    margin-left: -5px;
    padding-left: 5px;
}

.slider {
    touch-action: none;
    position: relative;
    flex-grow: 1;
    border-top: 1px solid #C0D1E1;
    border-bottom: 1px solid #C0D1E1;
}

.slider__bar {
    touch-action: none;
    position: relative;
    width: 10px;
    height: 100%;
    background: #C0D1E1;
    z-index: 1;
}

.slider__bar:before {
    content: '|';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%) translateY(-50%);
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}

.slider__bar.right {
    border-radius: 0 5px 5px 0;
}

.slider__bar.left {
    border-radius: 5px 0 0 5px;
}
